/* index.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #000000;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* overflow: hidden; */
}
body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
