// Login.scss

.login-container {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;

  &.dark {
    background-color: #333;
    color: #f0f0f0;
  }
}

.toggle-theme {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background: none;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  &.dark {
    color: white;
  }
}

.login-form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  transition: background-color 0.3s;

  &.dark {
    background: #444;
  }

  .login-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }

  .form-group {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
    }

    input {
      width: 100%;
      padding: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
    }

    input:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  .login-button {
    width: 100%;
    padding: 0.8rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
  .login-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
}
